.cs_content {
    margin-top: 90px;
}

.inner-bnr {
    background-color: #0d0c17;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
    height: 400px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
}

.inner-bnr::after {
    content: "";
    background: rgba(8, 12, 31, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.inner-heading h2 {
    color: #fff;
    text-align: center;
    font-size: 44px;
    margin: 0;
    line-height: 1.4em;
}

.sec-heading {
    text-align: center;
    margin-bottom: 50px;
}

.sec-heading h3 {
    font-size: 40px;
    line-height: 1.3em;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

/*  */
.contact-bnr,
.how-it-works-bnr {
    background: url(../images/img/page-title-of-seo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.entry-content {
    padding: 80px 0 60px;
}

.cea-featured-icon {
    color: #FFFFFF;
    font-size: 31px;
    margin-bottom: 18px;
    border-width: 1px 1px 1px 1px;
    border-radius: 15px 15px 15px 15px;
    background: #000;
    width: 100%;
    max-width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.cea-featured-icon {
    color: #FFFFFF;
    font-size: 31px;
    margin-bottom: 18px;
    border-width: 1px 1px 1px 1px;
    border-radius: 15px 15px 15px 15px;
    background: #093c55;
    width: 100%;
    max-width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s linear;
}

.cea-featured-icon.active {
    background: #733e00;
}

.cea-featured-icon:hover {
    background: #733e00;
}

.entry-content-box {
    border: 1px solid #ccc;
    position: relative;
    border-radius: 16px;
    height: 100%;
}

.entry-content-box-top {
    background-color: #F6F4F1;
    padding: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 50%;
}

.entry-content-box-bottom {
    background: #fff;
    padding: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 50%;
}

.cea-featured-text {
    text-align: center;
    margin-top: 20px;
}

.cea-featured-text h3 {
    font-size: 22px;
    margin: 0;
}

.entry-content-box-bottom p {
    text-align: center;
    margin: 0;
}

.address-sec {
    padding-top: 50px;
}

.address-sec iframe {
    width: 100%;
}

.system-works-inner-box .row .col-md-4 {
    margin-bottom: 30px;
}

.Steps-card-wrapper {
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 5px rgba(216, 216, 216, 0.4);
    padding: 40px;
    transition: background-color 0.4s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

/* Hover animation */
.Steps-card-wrapper:hover {
    background-color: #093c55;

    transform: translateY(-5px);
    color: #fff;
}

.Steps-card-wrapper:hover .your-icon {
    background: #fff;
}

.Steps-card-wrapper:hover h3 {
    color: #fff;
}

.system-works-inner-box .row .col-md-4 {
    margin-bottom: 30px;
}

.your-icon {
    background-color: transparent;
    padding: 26px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 1px solid #093c55;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.your-icon i {
    font-size: 22px;
    color: #093c55;
    font-weight: 900;
}

.Steps-card-wrapper h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.reverse-content {
    background-color: #093c55;
    position: relative;
    margin-bottom: 40px;
}

.expect-text {
    background-color: #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    margin-left: -80px;
    padding: 40px;
    position: relative;
    z-index: 99;
}

.second-expet {
    background-color: #733e00;
}

.reverse-content.second-expet .expect-text {
    margin-left: 80px;

}

.expectimg {
    height: 500px;
}

.expectimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section.hero--reverse {
    padding: 60px 0;
}

.reverse-content .row {
    align-items: center;
}

.reverse-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.reverse-btn a,
.reverse-btn button {
    background-color: #093c55;

}

.reverse-btn a:hover,
.reverse-btn button:hover {
    color: #fff;
}

.reverse-btn a::after,
.reverse-btn button::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.reverse-btn a::after,
.reverse-btn button::after {
    background: var(--dark-brown);
}

/* blog page css */
.blog-bnr {
    background: url(../images//img/blog-bnr.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: block;

}

.tabs-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

/* width */
.tabs-wrapper::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}


/* Handle */
.tabs-wrapper::-webkit-scrollbar-thumb {
    background: #093c55;
    border-radius: 10px;
}

.pgsel_blogpost .col-lg-6.col-md-6.col-sm-12 {
    margin-bottom: 30px;
}

.categories .tabs {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    padding-bottom: 0;
    min-width: max-content;
}

.tabs-wrapper {
    margin-bottom: 42px;
}

.blog-post-img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post-meta-category {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: #fff;
    padding: 0px 20px;
    background: #83c501;
    border-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-post-img {
    position: relative;
}

.categories .tabs li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 12px 30px;
    border-radius: 7px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #093c55;
    transition: all 0.3s linear;
}

.categories .tabs li:hover {
    background-color: #093c55;
    color: #fff;
}

li.tab-link.current {
    background-color: #093c55;
    color: #fff;
}

.blog-post {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 20px 10px rgba(216, 216, 216, 0.25);
    border-radius: 15px;
    height: 100%;
}

.blog-post-info {
    padding: 1rem;
}

.pgsel_blogpost .row .col-lg-4.col-md-6.col-sm-12 {
    margin-bottom: 30px;
}

.blog-btn a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 7px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--sansantion);
    background-color: #093c55;
}

.blog-btn a::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    background-color: #733e00;
}

.blog-btn a:hover::after {
    transform: scaleX(1);
}

.blog-post-info>span {
    color: #093c55;
    font-weight: 600;
    display: block;
}

.pagination-inner {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 18px;
}

.pagination-inner a {
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #093c55;
    color: #093c55;
}

.pagination-inner a:hover {
    background-color: #093c55 !important;
    color: #fff;
}

/*  */
.program-bnr {
    background: url(../images/img/Program.avif);
}

/*  */
.industry-categories-wrapper {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 20px 10px rgba(216, 216, 216, 0.25);
    border-radius: 15px;
    height: 100%;
}

.industry-categories-content {
    padding: 20px;
}

.industry-categories .row .col-12.col-md-6.col-lg-4.col-xl-3 {
    margin-bottom: 30px;
}

.industry-categories-content h4 {
    margin-bottom: 5px;
}

.industry-categories-img {
    height: 200px;
}

.industry-categories-img img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.categories-btn {
    text-align: center;
}

.benefits-list-inner {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 20px 10px rgba(216, 216, 216, 0.25);
    border-radius: 15px;
    height: 100%;
}

.the-benefits-inner .row .col-md-4 {
    margin-bottom: 30px;
}

.benefits-content {
    padding: 20px;
}

.the-benefits.py-5 {
    background: linear-gradient(90deg, #f8f8ff 0.81%, rgba(248, 248, 255, 0) 100%);
}

.benefits-content h4 {
    margin-bottom: 5px;
}

.benefits-img {
    height: 250px;
}

.benefits-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.zip-check-form {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 20px 10px rgba(216, 216, 216, 0.25);
    border-radius: 15px;
    height: 100%;
    padding: 30px;
}

.zip-check-form select,
.zip-check-form input {
    display: block;
    width: 100%;
    padding: 11px 20px;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    border: 1px solid #a3a2a3;
    resize: none;
    outline: none;
    box-shadow: none;
    margin-bottom: 16px;
    color: #000;
}


.zip-check-form input::placeholder {
    color: #000;
}

.form-control:focus,
.zip-check-form select:focus {

    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.availability {
    text-align: center;
    padding: 30px 0;
}

.availability ul {
    list-style: none;
    padding: 0;
}

.availability ul li {
    color: #000;
    font-family: var(--sansantion);
}

.availability p {
    color: #000;
    font-family: var(--sansantion);
}

.note-div {
    margin-top: 30px;
    text-align: center;
}

.note-div p {
    margin: 0;
    font-family: var(--sansantion);
}

.blog-post-info h4 {
    margin-bottom: 10px;
}

form.search-form {
    position: relative;

}

form.search-form input {
    color: #000000;
    font-size: 16px;
    height: 60px;
    width: 100%;
    line-height: 50px;
    padding-left: 22px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 0;
    outline: none;
}

button.widget-btn {
    background: transparent;
    border: 0;
    width: 54px;
    height: 50px;
    line-height: 50px;
    color: #093c55;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 6px;
    z-index: 1;
}

.recent-post-inner {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-thumb {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-right: 15px;
}

.post-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category-widget {
    list-style: none;
    padding: 0;
}

.category-widget li a {
    color: #000000;
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    display: block;
    z-index: 1;
    list-style: none;
    font-family: var(--sansantion);

}

.blog-sidebar .widget:not(:last-child) {
    margin-bottom: 30px;
}

.blog-content-details {
    margin-top: 20px;
    margin-bottom: 36px;
}

.blog-content-details h4 {
    margin-bottom: 6px;
}

.blog-img img {
    border-radius: 25px;
    width: 100%;
}

.blog-details-wrapper {
    margin-bottom: 30px;
}

table.comparison-table th {
    color: #000;
}

.comparison-section {
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

/*  */
.reseller-affiliate {
    background: linear-gradient(135deg, #f2f6fa, #e9eff5);
}

.reseller-affiliate .sec-heading {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.feature-item {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    padding: 35px 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.feature-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding-bottom: 30px;
}

.feature-item h3 {
    line-height: 30px;
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.feature-item i {
    width: 65px;
    height: 65px;
    background: #70bf2b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    box-shadow: 0 4px 12px rgba(112, 191, 43, 0.4);
    margin-bottom: 18px;
}

.checkbox-title {
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #eaebed;
    border-radius: 8px;
    scroll-snap-align: start;
    min-width: 220px;
    flex: 1;
}

.checkbox-title:hover {
    border: 1px solid #70bf2b;
    transition: all 0.3s;
}

.cards-affiliate {
    display: flex;
    flex-wrap: nowrap;
    gap: 26px;
    justify-content: start;
    margin: 40px auto auto;
    padding: 15px 3px 0;
    grid-template-columns: repeat(5, 214px);
    scroll-padding-left: 20px;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

.bottom-title {
    color: #667082;
    font-weight: 500;
    margin: 20px 0;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.affilirsinner {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.affilirsinner h5 {
    font-size: 30px;
    line-height: 1.3em;
    color: #093c55;
    margin-bottom: 10px;
    font-weight: 900;
}


.checkbox-title input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    position: relative;
}

.checkbox-title input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.image-outer {
    text-align: center;
}

.lighter li svg {
    width: 20px;
}

.lighter {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lighter li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.lighter li p {
    margin: 0;
    font-size: 16px;
    color: #667082;
}

.instant-flow-inner .row {
    align-items: center;
}

.instant-content h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #70bf2b;
    margin: 0;
}

.instant-content h3 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 53px;
}

/*  */
.steps__items {
    display: flex;
    gap: 40px;
}

.steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.steps__item-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 20px;
}

.steps__item-note {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #8db4e1;
    margin-bottom: 8px;
    font-family: var(--sansantion);
}

.steps__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #093c55;
    margin-bottom: 20px;
    font-family: var(--sansantion);
    text-align: center;
}

.steps__item-text {
    font-weight: 400;
    font-size: 18px;
    font-family: var(--sansantion);
    line-height: 140%;
    color: #667082;
}

section.why-tap {
    padding: 60px 0;
}

.steps__title {
    text-align: center;
    font-size: 30px;
    line-height: 1.3em;
    color: #093c55;
    margin-bottom: 10px;
    font-weight: 900;
}

.steps__box:before {
    border: 1px solid #8db4e1;
    opacity: .6;
    content: "";
    width: 100%;
    position: absolute;
    top: 73px;
    z-index: -1;
}

.steps__box {
    position: relative;
    max-width: calc((100% - 80px)/3);
}

.steps__box:first-of-type:before {
    left: 50%;
}

.steps__box:last-of-type:before {
    right: 50%;
}

.instant-flow {
    background: linear-gradient(135deg, #f2f6fa, #e9eff5);
}

.check-btn {
    margin-top: 30px;
}

/*  */
.serve {
    background: url(../images/img/service-2.jpeg);
}

.blog-featured-posts {
    grid-gap: 1.75rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    display: grid;
}

.blog-post-card {
    width: 37.5rem;
    background-color: #093c55;
}

.blog-post-card-featured-image {
    height: 18.75rem;
}

.blog-post-card-featured-image a {
    display: block;
    height: 100%;
}

.blog-post-card-featured-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-post-card-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
}

.blog-post-card .blog-post-card-title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    padding-bottom: 1rem;
    margin: 0;
}


.blog-post-card .blog-post-card-description {
    margin: 0;
    padding-bottom: 1.5rem;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}

.blog-featured-category-posts-header h2 {
    border-bottom: 2px solid #83c501;
    margin-top: 0;
    font-size: 20px;
    color: #000;
    margin-bottom: 2rem;
}

.blog-post-card-horizontal .blog-post-card-body {
    padding: 0;
}

.blog-post-card-horizontal h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.blog-post-card-footer {
    display: flex;
    justify-content: space-between;
}

.blog-post-card-footer p {
    margin: 0;
}

.blog-post-card-horizontal .blog-post-card-body {
    border-bottom: 2px solid #dbe4ed;
    flex-direction: column;
    gap: .5rem;
    padding: 0 0 1rem;
    margin-top: .75rem;
}

.blog-post-card .blog-post-card-footer {
    color: #fff;
}

.pgsel_blogpost-main .blog-post-info h4 {
    font-size: 18px;
}

.pgsel_blogpost-main .blog-post-info p {
    font-size: 14px;
}

.popular-blog h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}




/* 16/04/2025 */
.slidebar-blogs {
    max-width: 300px;
    margin: 0 0 0 auto;
}

.slidebar-blogs .search-wrap input {
    height: 52.5px;
}

.widget:not(:last-child) {
    margin-bottom: 60px;
}

.widget-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -.02em;
    border-bottom: 1px solid #f0f0f0;
    color: #093c55;
}

.widget-menu li {
    padding: 5px 0;
    list-style: none;
}

ul.clearlist.widget-menu {
    margin: 0;
    padding: 0;
}

.widget-menu li small {
    font-size: 12px;
}

.tags a {
    display: inline-block;
    margin: 0 2px 8px 0;
    padding: 5px 7px;
    border: 1px solid #ededed;
    font-size: 15px;
    text-decoration: none;
    border-radius: 3px;
}

.widget-posts li a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.widget-posts li {
    padding: 12px 0;
    font-size: 14px;
    line-height: 1.4;
    border-bottom: 1px dotted #ccc;
}

.widget-posts li img {
    height: 60px;
    object-fit: cover;
}

.clearlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-img {
    display: flex;
    gap: 24px;
}

ul.clearlist.widget-posts li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.widget-posts li span {
    font-size: 11px;
}

.widget-comments li {
    padding: 12px 0;
    border-bottom: 1px dotted #ddd;
}

.blog-img-part img {
    width: 100%;
}





/*  */
.profile {
    position: relative;

}

.profile-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

.userimg-inner {
    display: flex;
    gap: 10px;
    padding: 0 20px 10px;
    border-bottom: 1px solid #dfdfdf;
}

.userimg-inner>img {
    width: 40px;
    height: 40px;
}

.user-data h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    color: #093c55;
}

.user-data p {
    color: #484848;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
}

.profile-img-box {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
}

.profile-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-drop {
    position: absolute;
    top: calc(100% + 24px);
    right: 16px;
    width: 200px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
    padding: 20px 0px;
    border-radius: 7px;
    border: 1px solid #e3e3e3;
    padding-bottom: 6px;
}

.profile-drop::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.profile-drop.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.profile-drop ul li a {
    text-decoration: none;
    color: #093c55;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 6px;
}

.profile-drop ul {
    margin: 0;
    padding: 0;
}

.profile-drop ul li {
    list-style: none;
    border-radius: 7px;
}

.profile-drop ul li:hover {
    background-color: #f5f5f7;
}

.my-profile-text {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
}

/*  */
.pgsel_blogpost-ads {
    margin-top: 50px;
}

.pgsel_blogpost-ads .row .col-lg-4.col-md-6.col-sm-12 {
    margin-bottom: 30px;
}

form.ads-form .ads-form {
    display: block;
    width: 100%;
    padding: 11px 20px;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    border: 1px solid #a3a2a3;
    resize: none;
    box-shadow: none;
}

form.ads-form .ads-form::placeholder {
    color: #000;
}

.ads-form-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 7px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--sansantion);
    width: 100%;
    background-color: #093c55;
}

.ads-form-btn:hover {
    color: #fff;

}

button.ads-form-btn.cs_btn:hover::after {
    background-color: #733e00;

}

.add-btn {
    display: flex;
    gap: 30px;
}

.ads-modal label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    text-transform: capitalize;
    color: #000;
}

.ads-modal input,
.ads-modal select {
    display: block;
    width: 100%;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    border: 1px solid #f5f5f7;
    resize: none;
    padding: 10px;
    background-color: #f5f5f7;
}

.ads-modal-wraper {
    margin-bottom: 14px;
}

.modal-header {
    justify-content: flex-end;
}

button.close {
    padding: 0;
    border: none;
    height: 35px;
    width: 35px;
    background-color: #093c55;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.ads-modal .row {
    align-items: center;
}

.detailed-blog .modal-dialog {
    max-width: 960px;
    width: 100%;
}

.contact-ads a {
    display: block;
    color: #000;
    font-size: 18px;
    padding-bottom: 16px;
}

.contact-ads i {
    margin-right: 8px;
}

.qr_code-text h3 {
    font-size: 20px;
    margin-top: 20px;
    line-height: 22px;
}

.qr_code img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.qr_code-content h5 {
    font-size: 30px;
    margin-bottom: 20px;
}

.ads-social-icon ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #093c55;
    border: 1px solid #093c55;
    transition: all 0.3s linear;
}

.ads-social-icon ul li a:hover {
    transform: translateY(-6px);
}

.ads-social-icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
}

.ads-modal-main .modal-dialog {
    max-width: 920px;
    width: 100%;
}

.blog-post-img img {
    height: 250px !important;
    object-fit: cover;
    object-position: center;
    width: 100%;
}















/* Responsive */

@media(max-width:1199px) {
    .inner-bnr {
        padding-top: 0;
        padding-bottom: 0;
        height: 300px;

    }

    .inner-heading h2 {
        font-size: 28px;

    }

    .cs_content {
        margin-top: 80px;
    }


}

@media(max-width:991px) {
    .sec-heading h3 {
        font-size: 26px;
        line-height: 36px;
    }

    .expect-text {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .expectimg {
        height: 300px;
    }

    .reverse-content.second-expet .expect-text {
        margin-left: 0;
    }

    .second-expet .row {
        flex-direction: column-reverse;
    }

    .categories .tabs {
        padding-bottom: 10px;

    }

    .pagination-inner a {
        width: 26px;
        height: 26px;
        font-size: 14px;
    }

    .pagination-inner {
        gap: 6px;
    }
}

@media(max-width:767px) {
    form.ads-form .row .col-md-4 {
        margin-bottom: 20px;
    }
}